<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>PROFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title style="font-size: 1.2rem;">
        <b>Profil Pemateri</b>
      </ion-card-title>
    </ion-card-header>
    </ion-card>
    <ion-card>
      <p>
        <span class="first-letter">S</span>aya <b>Firda Annidaul Khusna</b>, lahir di Magelang - Jawa Tengah.
        Saat ini, saya sedang menempuh studi Sarjana (S1) di Universitas Negeri Semarang prodi Pendidikan IPA.
        E-modul <b>"Usaha dan Pesawat Sederhana"</b> berbasis literasi sains ini dikembangkan dalam rangka penelitian skripsi.
        Besar harapan saya modul ini dapat bermanfaat bagi pengguna, khususnya peserta didik.
        Namun saya menyadari bahwa dalam pengembangan modul ini, masih jauh dari sempurna.
        Oleh karena itu, kritik dan saran yang membangun sangat diharapkan.
        Semoga semakin banyak inovasi dalam dunia pendidikan yang bermunculan.
        <br><br>
        Terima kasih .
    </ion-card>
    

      <h2>Kontak</h2>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="mail-outline" size="large">Email</ion-icon>
          </ion-col>
          <ion-col >
            <a href="mailto:firdauuna@gmail.com?" class="btn btn-lg"> firdauuna@gmail.com</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="logo-instagram" size="large">Instagram</ion-icon>
          </ion-col>
          <ion-col>
            <a href="https://www.instagram.com/firdaannida_/">@firdaannida_</a>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
