<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>PETUNJUK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title style="font-size: 1.2rem; padding-left: 20px;">
          <b>Petunjuk Aplikasi</b>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="intro">Selamat datang adik-adik sekalian dalam <b>Modul Usaha dan Pesawat Sederhana dalam Kehidupan Sehari-hari</b>. Agar tidak tersesat, adik-adik dapat memahami petunjuk perjalanan terlebih dahulu.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> <b>Langkah 1</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          <b>Belajar </b>
          menggunakan modul ini, dapat dilakukan dimana pun dan kapan pun.
          </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> 
          <b>Langkah 2</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          Melihat <b>peta konsep modul</b> untuk mempelajari konsep-konsep materi pembelajaran yang dibahas di setiap babnya secara umum.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> 
          <b>Langkah 3</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          Cermati baik-baik <b>kompetensi, indikator, dan tujuan </b>pembelajaran dari masing-masing kegiatan belajar.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> 
          <b>Langkah 4</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          <b>Baca dan pahami materi </b> dengan baik, jika menemukan kesulitan, adik-adik dapat mendiskusikan dengan teman-teman, dan apabila belum terpecahkan sebaiknya tanyakan kepada guru.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> 
          <b>Langkah 5</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          Apabila dalam mempelajari modul ini adik-adik menemukan beberapa <b>kata asing</b>, adik-adik dapat mencari makna kata tersebut dalam glosarium.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> 
          <b>Langkah 6</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          Setelah adik-adik memahami materi, <b>kerjakan tugas-tugas</b> yang tercantum dalam modul secara mandiri guna mengevaluasi keberhasilan belajar dari adik-adik.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> 
          <b>Langkah 7</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          <b>Mencari informasi</b> dari buku atau sumber lain modul ini dianjurkan untuk mengerjakan tugas dalam modul ini.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem;"></ion-icon> 
          <b>Langkah 8</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          Baca pula <b>artikel</b> dalam modul ini untuk menambah wawasan adik-adik.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-bottom: 2rem;"> 
      <ion-card-header color="warning">
        <ion-card-title  style="font-size: 1rem; padding-left: 20px; text-transform: uppercase;">
          <ion-icon name="checkmark-done-sharp" style="padding-right: .5rem; "></ion-icon> 
          <b>Langkah 9</b>
        </ion-card-title> 
      </ion-card-header>
      <ion-card-content style="margin-top: .5rem;">
        <p>
          Periksalah <b>latihan soal</b> adik-adik dengan melihat pedoman penskoran dalam modul ini. apabila hasilnya belum benar maka pelajari kembali materi yang berkaitan dengan hal tersebut dan perbaiki jawaban adik-adik. Perhatikan umpan balik di akhir kegiatan dalam modul ini. Apabila hasil latihan soal mencapai 80% benar maka adik-adik berhasil melewati tahapan pembelajaran dalam modul ini.
        </p>
      </ion-card-content>
    </ion-card>
   
</ion-content>
