<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>DAFTAR PUSTAKA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title style="font-size: 1.2rem;">
        <b>Daftar Pustaka</b>
      </ion-card-title>
    </ion-card-header>
    </ion-card>
  <ion-card class="container">
    <div>
      <p>
        Zubaidah, Siti. dkk. 2017. Ilmu Pengetahuan Alam SMP/MTs Kelas VIII Semester 1 Buku Siswa. Jakarta: Kementerian Pendidikan dan Kebudayaan. 
      </p>
    </div>
    <hr class="hr">

    <div>
      <p>
        Fajar Tri M, Okky. dkk. 2021. Ilmu Pengetahuan Alam Untuk SMP Kelas VIII. Jakarta: Pusat Perbukuan Badan Standar, Kurikulum, dan Asesmen Pendidikan Kemendikbudristek.
      </p>
    </div>
    <hr class="hr">

  </ion-card>
  
  
</ion-content>
