<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>KI & KD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title style="font-size: 1.2rem;">
        <b>KI & KD</b>
      </ion-card-title>
    </ion-card-header>
    </ion-card>
  <section id="sect-ki" class="sect-ki">
    <ion-item class="i-ki">
      <ion-list class="ki">
        <ion-icon name="ribbon-outline"></ion-icon>
        Kompetensi Inti (KI)
      </ion-list>
    </ion-item>
    <ion-item class="custom-table">
      <table>   
        <tr >
          <td>KI.3</td>
          <td>Memahami dan menerapkan pengetahuan faktual, konseptual, prosedural, dan metakognitif pada tingkat teknis dan spesifik sederhana berdasarkan rasa ingin tahunya tentang ilmu pengetahuan, teknologi, seni, budaya dengan wawasan kemanusiaan, kebangsaan, dan kenegaraan terkait fenomena dan kejadian tampak mata.</td>
        </tr>
        <tr>
          <td>KI.4</td>
          <td>Menunjukkan keterampilan menalar, mengolah, dan menyaji secara kreatif, produktif, kritis, mandiri, kolaboratif, dan komunikatif, dalam ranah konkret dan ranah abstrak sesuai dengan yang dipelajari di sekolah dan sumber lain yang sama dalam sudut pandang teori.</td>
        </tr>
      </table>
    </ion-item>
  </section>

  <section id="sect-kd" class="sect-kd" >
    <ion-item class="i-kd">
      <ion-list class="kd">
        <ion-icon name="ribbon-outline"></ion-icon>Kompetensi Dasar (KD)</ion-list>
    </ion-item>
    <ion-item>
      <table class="custom-table"> 
        <tr>
          <td>3.3</td>
          <td>Menjelaskan konsep usaha, pesawat sederhana, dan penerapannya dalam kehidupan sehari-hari termasuk kerja otot pada struktur rangka manusia.</td>
        </tr>
        <tr>
          <td>4.3</td>
          <td>Menyajikan hasil penyelidikan atau pemecahan masalah tentang manfaat penggunaan pesawat sederhana dalam kehidupan sehari-hari.</td>
        </tr>
      </table>
    </ion-item>
  </section>

  <section id="sect-indikator" class="sect-indikator">
    <ion-item class="i-indikator">
      <ion-list class="indikator">
        <ion-icon name="ribbon-outline"></ion-icon> Indikator
      </ion-list>
    </ion-item>
    <ion-item>
      <table class="custom-table">
            <tr>
              <td>3.3.1</td>
              <td>Menjelaskan konsep usaha</td>
            </tr>
            <tr>
              <td>3.3.2</td>
              <td>Memberi contoh usaha</td>
            </tr>
            <tr>
              <td>3.3.3</td>
              <td>Menghitung besar usaha</td>
            </tr>
            <tr>
              <td>3.3.4</td>
              <td>Menghitung besar jarak benda yang dikenai usaha</td>
            </tr>
            <tr>
              <td>3.3.5</td>
              <td>Menghitung besar daya</td>
            </tr>
            <tr>
              <td>3.3.6</td>
              <td>Mengidentifikasi jenis-jenis pesawat sederhana</td>
            </tr>
            <tr>
              <td>3.3.7</td>
              <td>Mengidentifikasi pesawat sederhana yang ada di rumah</td>
            </tr>
            <tr>
              <td>3.3.8</td>
              <td>Menjelaskan jenis-jenis katrol</td>
            </tr>
            <tr>
              <td>3.3.9</td>
              <td>Menjelaskan penggunaan katrol dalam kehidupan sehari-hari</td>
            </tr>
            <tr>
              <td>3.3.10</td>
              <td>Menghitung besar beban yang ditarik oleh katrol majemuk</td>
            </tr>
            <tr>
              <td>3.3.11</td>
              <td>Menjelaskan pengertian roda berporos</td>
            </tr>
            <tr>
              <td>3.3.12</td>
              <td>Menjelaskan penggunaan roda berporos dalam kehidupan sehari-hari</td>
            </tr>
            <tr>
              <td>3.3.13</td>
              <td>Menganalisis prinsip kerja koper pada sistem gerak manusia</td>
            </tr>
            <tr>
              <td>3.3.14</td>
              <td>Menjelaskan pengertian bidang miring</td>
            </tr>
            <tr>
              <td>3.3.15</td>
              <td>Membuktikan bahwa sekrup adalah salah satu contoh bidang miring</td>
            </tr>
            <tr>
              <td>3.3.16</td>
              <td>Menghitung keuntungan mekanik pada bidang miring</td>
            </tr>
            <tr>
              <td>3.3.17</td>
              <td>Menjelaskan jenis-jenis pengungkit</td>
            </tr>
            <tr>
              <td>3.3.18</td>
              <td>Mengidentifikasi syarat keseimbangan pengungkit</td>
            </tr>
            <tr>
              <td>3.3.19</td>
              <td>Menjelaskan penggunaan pengungkit jenis pertama, kedua, dan ketiga dalam kehidupan sehari-hari</td>
            </tr>
            <tr>
              <td>3.3.20</td>
              <td>Menghitung keuntungan mekanik pada pengungkit</td>
            </tr>
            <tr>
              <td>3.3.21</td>
              <td>Menguraikan penerapan prinsip kerja pesawat sederhana pada sistem gerak</td>
            </tr>
            <tr>
              <td>3.3.22</td>
              <td>Menganalisis prinsip pesawat sederhana pada sistem gerak</td>
            </tr>
            <tr>
              <td>4.3.1</td>
              <td>Mengidentifikasi permasalahan di lingkungan sekitar yang dapat diatasi dengan menggunakan pesawat sederhana</td>
            </tr>
            <tr>
              <td>4.3.2</td>
              <td>Mengajukan suatu usulan penerapan pesawat sederhana untuk memecahkan permasalahan kehidupan sehari-hari yang belum diatasi dengan menggunakan pesawat sederhana</td>
            </tr>
        
      </table>
    </ion-item>
  </section>
  

  
</ion-content>
