<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/dashboard/petunjuk"></ion-back-button>
    </ion-buttons>
    <ion-title>Petunjuk Aplikasi</ion-title>

  </ion-toolbar>
</ion-header>

  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <img src="assets\Female hands.png" />
          <h2>Langkah 1</h2>
          <p>
          <b>Belajar </b>
          menggunakan modul ini, dapat dilakukan dimana pun dan kapan pun.
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="assets\concept.png" />
        <h2>Langkah 2</h2>
        <p>
          Melihat <b>peta konsep modul</b> untuk mempelajari konsep-konsep materi pembelajaran yang dibahas di setiap babnya secara umum.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets\idea.png" />
        <h2>Langkah 3</h2>
        <p>
          Cermati baik-baik <b>kompetensi, indikator, dan tujuan </b>pembelajaran dari masing-masing kegiatan belajar.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets\discuss.png" />
        <h2>Langkah 4</h2>
        <p>
          <b>Baca dan pahami materi </b> dengan baik, jika menemukan kesulitan, adik-adik dapat mendiskusikan dengan teman-teman, dan apabila belum terpecahkan sebaiknya tanyakan kepada guru.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets\library.png" />
        <h2>Langkah 5</h2>
        <p>
          Apabila dalam mempelajari modul ini adik-adik menemukan beberapa <b>kata asing</b>, adik-adik dapat mencari makna kata tersebut dalam glosarium.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets\system.png" />
        <h2>Langkah 6</h2>
        <p>
          Setelah adik-adik memahami materi, <b>kerjakan tugas-tugas</b> yang tercantum dalam modul secara mandiri guna mengevaluasi keberhasilan belajar dari adik-adik.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets\book.png" />
        <h2>Langkah 7</h2>
        <p>
          <b>Mencari informasi</b> dari buku atau sumber lain modul ini dianjurkan untuk mengerjakan tugas dalam modul ini.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets\studying.png" />
        <h2>Langkah 8</h2>
        <p>
          Baca pula <b>artikel</b> dalam modul ini untuk menambah wawasan adik-adik.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="assets/study.png" />
        <h2>Langkah 9</h2>
        <p>
          Periksalah <b>latihan soal</b> adik-adik dengan melihat pedoman penskoran dalam modul ini. apabila hasilnya belum benar maka pelajari kembali materi yang berkaitan dengan hal tersebut dan perbaiki jawaban adik-adik. Perhatikan umpan balik di akhir kegiatan dalam modul ini. Apabila hasil latihan soal mencapai 80% benar maka adik-adik berhasil melewati tahapan pembelajaran dalam modul ini.
        </p>
        <ion-button fill="clear" routerLink="/dashboard/petunjuk">
          Selesai<ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides>

</ion-content>





